<html>
    <head>
        <title>Redefinir senha</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="./styles.css">
    </head>

    <body>
        <div id="Container" class="centerObject">
            <div id="Logo" class="centerObject">
                <img src="../../assets/logos/logo_fundo_branco_png.png" alt="Logo" title="Logo"/>
            </div>

            <h1>Olá, Alice Domingos de Moraes</h1>
            <p>Você solicitou a recuperação de senha, certo? 
               Caso não tenha conhecimento sobre essa ação, desconsidere esta mensagem.</p>
            <p>Caso queira continuar com o procedimento, clique no link abaixo para redefini-la.</p>

            <button>Redefinir senha</button>

            <footer>
                <div id="Contatos">
                    <ul>
                    <li>
                        <img
                        src="../../assets/ImagesConfirmEmail/contato_whatsapp.png"
                        alt="Contato para whatsapp"
                        title="Contato para whatsapp"
                        />
                        <span>(11) 94981-9506</span>
                    </li>
                    <li>
                        <img
                        src="../../assets/ImagesConfirmEmail/contato_instagram.png"
                        alt="Contato para instagram"
                        title="Contato para instagram"
                        />
                        <span>tecnotc_</span>
                    </li>
                    <li>
                        <img
                        src="../../assets//ImagesConfirmEmail/contato_email.png"
                        alt="Contato para email"
                        title="Contato para email"
                        />
                        <span>tecnotc@gmail.com</span>
                    </li>
                    </ul>
                </div>

                <div id="TermosPrivacidade">
                    <span>Copyright © 2021 TecnoTc Ltda.</span>
                    <span>Todos os direitos reservados.</span>
                    <span>#FiqueEmCasa</span>
                </div>
                
                <div id="LogoFooter">
                    <img src="../../assets/logos/logo_fundo_roxo.png" alt="Logo" title="Logo" />
                </div>
            </footer>
        </div>
    </body>
</html>