<html>
    <head>
        <title>Confirmação de email</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="./styles.css">
    </head>

    <body>
        <div id="Container" class="centerObject">
          <header>
            <img src="../../assets/logos/logo_fundo_roxo_chapeu.png" alt="Logo" title="Logo"/>
            <h1>Olá, Alice Domingos de Moraes!</h1>
          </header>

          <div id="Conteudo">
            <h2>A equipe TecnoTc agradece por seu cadastro!</h2>

            <p>Você está quase lá...</p>
            <p>Abaixo está o botão com o link para confirmar seu e-mail em nossa plataforma. 
               Basta clicar e será redirecionado para a plataforma.</p>

            <button>Confirmar endereço de e-mail!</button>
          </div>

          <footer>
            <div id="Contatos">
              <ul>
                <li>
                  <img
                    src="../../assets/ImagesConfirmEmail/contato_whatsapp.png"
                    alt="Contato para whatsapp"
                    title="Contato para whatsapp"
                  />
                  <p>(11) 94981-9506</p>
                </li>
                <li>
                  <img
                    src="../../assets/ImagesConfirmEmail/contato_instagram.png"
                    alt="Contato para instagram"
                    title="Contato para instagram"
                  />
                  <p>tecnotc_</p>
                </li>
                <li>
                  <img
                    src="../../assets//ImagesConfirmEmail/contato_email.png"
                    alt="Contato para email"
                    title="Contato para email"
                  />
                  <p>tecnotc@gmail.com</p>
                </li>
              </ul>
            </div>

            <div id="TermosPrivacidade">
              <p>Copyright © 2021 TecnoTc Ltda.</p>
              <p>Todos os direitos reservados.</p>
              <p>#FiqueEmCasa</p>
            </div>
            
            <div id="Logo">
              <img src="../../assets/logos/logo_fundo_roxo.png" alt="Logo" title="Logo" />
            </div>
          </footer>
        </div>
    </body>
</html>