<html>
    <head>
        <title>Convite para entrar no grupo</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="./styles.css">
    </head>

    <body>
        <div id="Container" class="centerObject">
            <header></header>
            <div id="conteudo" class="centerObject">
                <h2>Olá, querido(a) aluno(a)!</h2>

                <p>Através desse e-mail venho lhe convidar para participar do nosso grupo de estudos!</p>
                <p>Abaixo está o botão para que você aceite esta proposta. Tenho certeza que lhe ajudará bastante! 
                   Aguardo sua confirmação.</p>

                <button>Aceitar o convite!</button>
            </div>

            <div id="Logo">
                <img src="../../assets/logos/logo_fundo_branco_png.png" alt="Logo" title="Logo"/>
            </div>
        </div>
    </body>
</html>